.home-image{
  width: 15%;
  height: 15vw;
  border: 2px solid navy;
  border-radius: 5px;
  float: left;
  margin: 1% 20px 20px 0;
}

.summary{
  color: rgb(0, 0, 46);
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width: 600px){
  .home-image{
    width: 25%;
    height: 30vw;
  }
}
