.navbar{
    background: rgba(255, 254, 210, 0.8);
}

.nav-item{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    float: right;
}

.name{
    background: rgb(0, 0, 158);
    font-weight: bold;
    border-radius: 4px;
    color: rgba(255, 254, 210, 0.8);
}

.name:hover{
    color: rgba(255, 255, 255, 0.8);
}

.navLink{
    color: rgb(0, 0, 114);
    float: right;
}

.navLink:hover{
    color: rgb(0, 0, 172);
    font-size: 21px;
}

.page-links{
    float: right;
}

@media only screen and (max-width: 500px){
    .name{
        width: 100%;
        text-align: center;
    }

    .nav{
        align-content: center;
        width: 100%;
    }

    .navbar{
        background: rgba(185, 185, 149, 0.95);
    }
    
}