.container-fluid{
    background: rgba(233, 233, 233, .85);
    border: 2px solid rgb(0, 0, 114);
    border-right: none;
    border-left: none;
}

.nav-item{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    float: right;
}

.name{
    background: rgb(0, 0, 114);
    font-weight: bold;
    border-radius: 4px;
    color: white;
}

.name:hover{
    color: rgb(224, 224, 224);
}

.navLink{
    text-shadow: 2px 2px rgb(235, 235, 235);
    color: rgb(0, 0, 114);
    float: right;
}

.page-links{
    float: right;
}

@media only screen and (max-width: 500px){
    .name{
        width: 100%;
        text-align: center;
    }

    .nav{
        align-content: center;
        width: 100%;
    }
}